
/* @import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&family=Space+Grotesk:wght@500& */

* ,*:before ::after
{
    margin : 0px;
    padding : 0px;
    font-family: Arial, Helvetica, sans-serif;
    border : border-box;
}

body{
    /* background-image: url("img/body-background.jpg"); */
    font-family: 'Familjen Grotesk',sans-serif;
    background-color: black;
}

a{
    color:white;
    text-decoration: none;
}

li {
    
    list-style: none;
    text-decoration: none; 
    cursor: pointer; 
}

body{
    background-image: URL("img/spacex-background-orange.jpeg");
    background-size: cover;
}
/* header - */
.header 
{
    height: 60px;
    /* background: rgb(201, 198, 198); */
}

.header-logo a img
{
    height : 50px;
    margin-left: 30px;
    background-image: url("img/spacex-logo-black2.jpeg");
    background-repeat :no-repeat;

}
 .main-header
{
    display: flex;
} 
.nav-main-menu ul
{
    display: flex;
    flex-direction: row;
    
}
.nav-main-menu ul li
{
    margin-right : 20px
    
}
.img-bar
{
    height :30px;
    width :40px;
    /* background-image: url("img/baricon-white.jpeg"); */
}
/*
.main-header
{
    width:100%;
    top : 0;
    left : 0;
    height : 30px;
    position: absolute;
     z-index : 3; 
    display :flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
      padding : 0 10px ;  
}


.header-logo
{
    margin-right:50px; 
    height: 100px; 
     width: 300px; 
   
    background-image: url("img/spacex-logo-black2.jpeg");
    background-repeat :no-repeat;

}
/* 
.desktop-main-menu
{
    margin-right : 20px;
} 

.desktop-main-menu ul
{
    display: flex;
    justify-content: space-between;
}

.desktop-main-menu li {
    margin-left :0px;
     position: relative; 
    padding-bottom: 2px;
    width: 90px;
}
.desktop-main-menu li a{
    padding-top: 30px;
    font-size: 12px;
}

.desktop-main-menu  ul li a ::after
{
    content: '';
    position: absolute;
    bottom: 0px;
    left : 0;
    width: 100%;
    background: white;
    transform: scaleX(0);/*visible text after <a> tag*
    transition: transform 0.6s cubic-bezier(0.19);/*transition on property anem transform*
}

.desktop-main-menu  ul li a :hover::after
{
    transform: scaleX(1); /*visible text  after <a> tag*
}



/* Sections */
section {
    position: relative;
    height: 100vh;
    line-height: 1.15;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    text-transform: uppercase;
    color: WHITE;
  }
  
  .section-inner {
    position: absolute;
    bottom: 20px;
    left: 30px;
    max-width: 560px;
  }
  
  .section-inner h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  .section-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both; /* Stop from showing at start*/
  }
  
  .section-inner a {
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both; /* Stop from showing at start*/
  }

  /* Background images */
.section-a {
    background-image: url('../img/.section-a.webp');
  }
  .section-b {
    background-image: url('../img/.section-b.webp');
  }
  .section-c {
    background-image: url('../img/.section-c.webp');
  }
  
  
.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
  }
  
  .btn:hover span {
    color: #000;
  }
  
  .btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn:hover .hover {
    transform: translateY(0);
  }
  
  .scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite;
  }
  
  /* Footer */
footer {
    position: relative;
    padding: 55px 0;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer ul li {
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
  }
  
  footer ul li a {
    color: #fff;
    transition: color 0.6s;
  }
  
  footer ul li a:hover {
    color: #aaa;
  }
  

  


  * Hamburger Menu */
  .hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(5px);
  }
  
  .hamburger-bottom {
    transform: translateY(10px);
  }
  
  /* Transition hamburger to X when open */
  .open {
    transform: rotate(90deg);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
  
  

/* Overlay */
.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  
  /* Stop body scroll */
  .stop-scrolling {
    overflow: hidden;
  }
  